In [9]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-win_amd64.whl (10.0 MB)
     --------------------------------------- 10.0/10.0 MB 15.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sohan\anaconda3\envs\automation\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.6-cp37-cp37m-win_amd64.whl (14.0 MB)
     --------------------------------------- 14.0/14.0 MB 16.8 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2017.3 in c:\users\sohan\anaconda3\envs\automation\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\sohan\anaconda3\envs\automation\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.6 pandas-1.3.5

In [10]:
import os
import pandas as pd # pd alias for pandas , pandas deal with dataframe

In [6]:
os.getcwd()

'C:\\Users\\SOHAN\\Documents\\GitHub\\Automation_Pawan\\Automation_practice'

In [11]:
df= pd.read_csv("export.csv")

In [13]:
df.head(50)

,Date,Description,Category,Cost,Currency,SOHAN PANT,Vishal Sati
0,2023-06-01,Left over,General,4664.00,INR,-4664.0,4664.0
1,2023-06-01,Soap,General,140.00,INR,140.0,-140.0
2,2023-06-03,Table and chair,Furniture,1800.00,INR,1800.0,-1800.0
3,2023-06-07,Badminton,General,1649.00,INR,1649.0,-1649.0
4,2023-06-12,Fee remaining,General,2000.00,INR,-2000.0,2000.0
5,2023-06-12,Book 2,General,150.00,INR,150.0,-150.0
6,2023-06-21,Mummy,General,250.00,INR,-250.0,250.0
7,2023-06-21,Bottle,General,948.00,INR,948.0,-948.0
8,2023-06-27,Vest,General,942.00,INR,942.0,-942.0
9,2023-07-01,Paisa,General,3000.00,INR,-3000.0,3000.0
10,2023-07-03,Barber,General,100.00,INR,100.0,-100.0
11,2023-07-04,Lenevo,General,10000.00,INR,-10000.0,10000.0
12,2023-07-07,Recharge july,TV/Phone/Internet,209.00,INR,209.0,-209.0
13,2023-07-07,Decathlon,Sports,500.00,INR,500.0,-500.0
14,2023-07-12,Travel,Transportation - Other,1000.00,INR,1000.0,-1000.0
15,2023-07-14,Travel,Transportation - Other,500.00,INR,500.0,-500.0
16,2023-07-16,Roll on,General,250.00,INR,-125.0,125.0
17,2023-07-16,Note book,General,180.00,INR,180.0,-180.0
18,2023-07-16,Sperical note book,General,145.00,INR,145.0,-145.0
19,2023-07-18,Travel,Transportation - Other,500.00,INR,500.0,-500.0
20,2023-07-18,Biscuit,General,20.00,INR,20.0,-20.0
21,2023-07-21,Travel,Transportation - Other,500.00,INR,500.0,-500.0
22,2023-07-21,Food,General,84.00,INR,84.0,-84.0
23,2023-07-22,Specs,General,3100.00,INR,3100.0,-3100.0
24,2023-07-23,Dress,General,3200.00,INR,3200.0,-3200.0
25,2023-07-23,Travel,Transportation - Other,500.00,INR,500.0,-500.0
26,2023-07-26,Tiffin,Dining out,308.00,INR,308.0,-308.0
27,2023-07-27,Food,General,60.00,INR,60.0,-60.0
28,2023-07-27,Vegetable,General,85.00,INR,-85.0,85.0
29,2023-07-28,Burger,Dining out,169.00,INR,169.0,-169.0
30,2023-07-29,Milk,Groceries,84.00,INR,-42.0,42.0
31,2023-07-29,Total balance,,,INR,-3462.0,3462.0

TypeError: '(slice(None, 3, None), 2)' is an invalid key