Python Programming
----------------------

Python is High level general purpose Programming language.
Python is open source language.
Platform independent


History
-----------
The implementation of Python was started in the December 1989 by Guido Van Rossum at CWI in 
Netherland.
▪ In February 1991, van Rossum published the code (labeled version 0.9.0).
▪ In 1994, Python 1.0 was released with new features like: lambda, map, filter, and reduce.
▪ Python 2.0 added new features like: list comprehensions, garbage collection system.
▪ On December 3, 2008, Python 3.0 (also called "Py3K") was released. 
▪ Python is influenced by :
– ABC language.
– Modula-3

Download and install Python on Window

ways to run python code
---------------------------
1) Run python code through IDLE (Python shell)
2) Run python code through cmd
3) Run python code through notepad/notepad++

PyCharm -- popular IDE for python

comments
------
* Comments are used to write description about application logics to understand the logics easily.
* The main objective comments the code maintenance will become easy.
* The comments are non-executable code.
* Python will ignore comments in run time

* COMMENT WITH BLOK OF ELEMENT    """ 3 cotation when you want to comment out a big chunk of codes"""(single '''a''' also works)
keywords
-----------
reserved words in python


Variables
------------------
▪ A variable is nothing but a reserved memory location to store values.
▪ Variables are used to store the data.
▪ Memory allocated when the values are stored in variables.
▪ Every variable must have some type


*** Python is dynamically typed progrmming language***
Data types
------------
1. Text Type:	str
2. Numeric Types:	int, float
3. Sequence Types:	list, tuple
4. Mapping Type:	dict
5. Set Types:	set
6. Boolean Type:	bool

***
x=100
s="welcome"
x="welcome"

***
Dynamically typed programming language..(1. Whenever we give an variable then we don't need to specify datatypes in python unlike other progrmming languages, 2. we can change data type of a variable any time )

In [5]:
import keyword# vsn use these keywords for programming
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
x=100
y=10.5
s='welcome'  # s="welcome"
c='A'  # c="A"
b=True

In [9]:
print(type(x))  #int
print(type(y)) #float

<class 'int'>
<class 'float'>

In [10]:
print(type(s))  #str
print(type(c))  #str
print(type(b))  #bool

<class 'str'>
<class 'str'>
<class 'bool'>

In [11]:
x=1234
print(type(x))  #int
x="welcome"
print(type(x))  #str

<class 'int'>
<class 'str'>

# Day 2 (2.2)

Day-2 : Python Programming
----------------------
Delete the variables

Operator - a symbol which will perform an operation between 2 or more variables

a=100
b=200

print(a+b)

1) Arithmetic
2) Relational
3) Logical 

a	b	a and b	a or b	not a
--------------------------------------
TRUE	TRUE	TRUE	TRUE	FALSE
TRUE	FALSE	FALSE	TRUE	
FALSE	TRUE	FALSE	TRUE	TRUE
FALSE	FALSE	FALSE	FALSE	


Concatenation
---------------

True = 1
False =0

Formatting output
%
{}

How to take input from user & Type conversion
input()
int()
float()


Control statements
----------------------------

1) conditional statements
	if  if..else  elif

2) Looping statements
	while	  for

3) Jumping statements
	break	 continue

Assignents
--------------------
1) Check the given number is Positive or nagitive
2) Check the largest of 2 numbers
3) Check the largest of 3 numbers
4) Print week number if you provide weekname as input.

#### Deleting a Variable

In [15]:
a = 7

In [16]:
print(a)

7

In [17]:
del a

In [18]:
print(a)

NameError: name 'a' is not defined

#### Operators

In [20]:
#Arithmetic operators
# a=5
# b=2
# print(a+b)  # addition of a , b
# print(a-b) # substration
# print(a*b) # multiplication
# print(a/b)   # 2.5
# print(a//b)   # 2 quotient
# print(a%b)  # 1 remider
# print(a**b)  # 5**2 = 25

# Relational operators/comparison operators
# > <  >=  <=  !=  ==
# Relational operators always returns boolean value True/False
# a=5
# b=10
#
# print(a>b)  # False
# print(a<b) # True
# print(a==b) # False
# print(a!=b) # True # Not equal to 
# print(a<=b)  # True
# print(a>=b) # False

#Logical operators
#  and  or  not
#always returns boolean value True/False
a=True
b=False

print(a and b) # False
print(a or b) # True
print(not a) # False( as B is false)

c

False
True
False

***
True  = 1
False = 0
***

#### Concatenation

In [23]:
#Concatenation   +

print(10+10)  #20 valid
print(10.5+12.0) # 22.5 valid
print(10+10.5)  # 20.5  valid

20
22.5
20.5

In [24]:
print('welcome'+'python') #welcomepython

welcomepython

print('welcome'+' '+'python') # Add some space

In [25]:
print(True+5)   # 6 valid
print(False+5)   # 5 valid
print(True+True)  # 2 valid

6
5
2

1. print(10+'welcome') #Not valid bcoz 2 values are different type
2. print(10.5+'welcome') #Not valid bcoz 2 values are different type
3. print(True+'welcome')  #Not valid bcoz 2 values are different type

*** Learn F string function***

In [22]:
# Python3 program introducing f-string
val = 'Geeks'
print(f"{val}for{val} is a portal for {val}.")

GeeksforGeeks is a portal for Geeks.

In [21]:
name = 'Sohan'
age = 32
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is Sohan and I'm 32 years old.

#### ForamttingOutput

In [33]:
name="john"
age=30
sal=5000.50

In [35]:
name,age,sal="john",30,5000.50 # we can define all the variables in a single line

In [38]:
# Approach 1
print(name)
print(age)
print(sal)

john
30
5000.5

In [39]:
print(name,age,sal) # If we want to format our output in a specific way

john 30 5000.5

In [41]:
#Approach2
print("Name is:",name)
print("Age is:",age)
print("Sal is:",sal)

Name is: john
Age is: 30
Sal is: 5000.5

In [42]:
#Approach3
print("Name is:%s  Age is:%d  Salary is:%g" %(name,age,sal))

Name is:john  Age is:30  Salary is:5000.5

* %s - Represnt string
* %d - Represnt digit
* %g - Represnt a Decimal number

In [44]:
#Approach4   {} Using Dictionary data conttainer by giving key values pairs
print("Name is:{}  Age is:{}  Salary is:{}" .format(name,age,sal))
print("Age is:{} Name is:{}   Salary is:{}" .format(age,name,sal))

Name is:john  Age is:30  Salary is:5000.5
Age is:30 Name is:john   Salary is:5000.5

#### TakingInputFromUser

In [54]:
num1 = input("Enter first number")
num2= input("Enter second number")

Enter first number1
Enter second number8

In [51]:
print(type(num1))# Input gets values for user and these values are always in string, to overcome this we need to conert the data type

<class 'str'>

In [57]:
print(num1+num2)# num1 = 1 and num2 = 8  so we are getting 18 which is not addition but concatenation

18

In [58]:
num1 = int(input("Enter first number"))
num2= int(input("Enter second number"))

Enter first number1
Enter second number8

In [59]:
print(num1+num2)

9

#### ConditionalStatement
* if 
* if else
* if else elif

In [75]:
# Example1 : Print a person is eligible for vote or not
# age>=18

age=17
if age>=18:
    print("Eligible for vote")
else:
    print("Not eligible for vote")

Not eligible for vote

In [65]:
# Example2

if True:
    print("true condition")
else:
    print("false condition")

true condition

In [69]:
#Example3
if 1:
    print("one")
else:
    print("Not one")

one

In [76]:
# Example4  : Find a number is even/odd  num%2=0
num=10
if num%2==0: # Modulo
    print("Given number is Even")
else:
    print("Given number is odd")

Given number is Even

In [71]:
#Example5 : if else in single line  ( ternary operator)
num=10
print("Even number") if num%2==0 else print("odd number")

Even number

In [72]:
#Example6 : if else -  Multiple statements in Single Line
a=5
{print("hello"),print("python")} if a>=10 else {print("hi"),print("java")}

hi
java

{None}

In [77]:

#Example 7: Multiple conditions using elif
weekno=10

if weekno==1:
    print("sunday")
elif weekno == 2:
    print("monday")
elif (weekno == 3):
    print("tuesday")
elif weekno == 4:
    print("Wednesday")
elif weekno == 5:
    print("Thurday")
elif weekno == 6:
    print("Friday")
elif weekno == 7:
    print("saturday")
else:
    print("Invalid week number")

Invalid week number

# Day 3 (2.3) LOOPS

Day3- Python Programming
-------------------------
Control statements
---------
conditional statements - if  if..else  elif
looping statements - while, for
jumping statements - break, continue

print(1)
print(2)
--
---

range() function in python
--------------------
range(10)    0.....10
range(1,10)   1,........9
range(1,10,2)   1- starting point, 10 -ending point 2-increment


looping statemenets
-----------
while loop
for loop

initilization
condition
incrementation/descrement


Numbers & Strings
--------------------------

#### Range

#### Operators

In [78]:
# range() : values between the range

print(list(range(10)))  #[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list(range(5,10))) #[5,6,7,8,9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]

In [79]:
#print only odd numbers between 1-10
print(list(range(1,10,2)))   #[1, 3, 5, 7, 9](form,to,by)

[1, 3, 5, 7, 9]

In [80]:
#print only even numbers between 1-10
print(list(range(2,10,2)))  #[2, 4, 6, 8]

[2, 4, 6, 8]

In [81]:
print(list(range(10,1,-1)))  #[10, 9, 8, 7, 6, 5, 4, 3, 2]

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [82]:
#  -10  -9 -8 -7 -6  -5 -4 -3 -2  -1 0 1 2 3 4 5 6
print(list(range(-10,-5)))    # [-10, -9, -8, -7, -6]

[-10, -9, -8, -7, -6]

In [83]:
print(list(range(-10,-5,2))) # [-10, -8, -6]

[-10, -8, -6]

#### Loops
Three main component
* initilization
* condition
* incrementation/descrement

run a programme snippet which can run multipule times

*** While Loop***

In [86]:
#  while loop

# print 1.....10 numbers

i=1  #initilization(Starting point)
while i<=10:     #1 2 3  4 5 6 7 9 10  CONDITION
    print(i)    #1  2 3 4 5 6 8 9 10
    i=i+1    #2 3 4 5 6 7 9 10 11 INCREMENTATION/DESCREMENT
print("Done!!!!")

1
2
3
4
5
6
7
8
9
10
Done!!!!

In [90]:
# print 1...10 numbers in descending order (10,9,8,7,.....1)
i=10 # WHAT IS OUR STARTING POINT
while i>=1:
    print(i) #10 9 8 7 6 5 4 3 2 1
    i=i-1  #9  8 7 6 5 4 3 2 1 0 HOW MUCH VALUE WE HAVE OT INCREMENT AND DECREMENT EVERY TIME 
print("Done!!!")

10
9
8
7
6
5
4
3
2
1
Done!!!

In [89]:
# print 1...10 numbers in descending order (10,9,8,7,.....1)
i=10 # WHAT IS OUR STARTING POINT
while i>=1:
    print(i) #10 9 8 7 6 5 4 3 2 1
    i=i-1  #9  8 7 6 5 4 3 2 1 0 HOW MUCH VALUE WE HAVE OT INCREMENT AND DECREMENT EVERY TIME 
    print("Done!!!")

10
Done!!!
9
Done!!!
8
Done!!!
7
Done!!!
6
Done!!!
5
Done!!!
4
Done!!!
3
Done!!!
2
Done!!!
1
Done!!!

*** Make sure that only put those objects inside while loop body which you want to iterate every time ***

Differnce between LOOPS and conditional Statement

#### For Loop

*** In Operator***

In [93]:
#print 1...10 numbers using for loop

for i in range(10):
    print(i)   #0....9

0
1
2
3
4
5
6
7
8
9

In [ ]:
# for i in range(1,11):   # 1,2,3,4,....10
#     print(i)   #1....10

In [94]:
# print only even numbers between 1....20
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [96]:
# print only even numbers between 1....20
for i in range(1, 21, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [98]:
#print 1...10 numbers in descending order ( 10,9,8.....1)
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [100]:
#print 5,10,15,20.....100
for i in range(5,101,5):
    print(i)
print('Program exoted!!!')

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
Program exoted!!!

#### Jumping Statements
* Break
* Continue

In [103]:
for i in range(1,10):
    if i==5:
        break
    print(i)   # 1....9
print("program exited!!!!")

1
2
3
4
program exited!!!!

In [106]:
# Skippuing some values 
for i in range(1,10):
    if i==3 or i==5 or i==7: # Accept boolean 
        continue
    print(i)
print("program exited!!!!")

1
2
4
6
8
9
program exited!!!!

In [105]:
for i in range(3,7,2):
    print(i)

3
5

In [ ]:
num1=100
num2=10.5

print(type(num1)) # int
print(type(num2)) #flot

In [107]:
# find maximum of 3 numbers  max()
#max() - returns maximum value
print(max(10,20,30,40,50,5,10,80,100,40))  #100

100

In [108]:
# min() - returns miniumu value
print(min(10,20,30,40,50,5,10,80,100,40))  #5

5

In [109]:
print(max(10.5,20.5,5.5))  #20.5
print(min(10.5,20.5,5.5))  #5.5

20.5
5.5

#### # Create string varaible

In [112]:
# create string varaible
# Example 1  :  ways of creating string varialbes
s="welcome"
s='welcome'
s=str('welcome')
s=str("welcome")

In [ ]:
#creatign empty string variables
name=""
name=''
name=str()

###### mutable- cannot change the value of variable
##### immutable - can change the value of the variable

In [115]:
# string is immutable
#if the value is changed after updation then it is immutable

str1="welome"
print(id(str1))  #2984541559472 (ID of this memory )
str1=str1+"to python" # (Means welcome + to python) Old value will to overwrite by new value
print(id(str1)) #1630475397872

1266803036400
1266801779184

#### After updation the id of the variable is changing which suggests string is changinh means string is immutable

In [117]:
# Example 3  :  + and * with string
str="welcome"
print(str+"programming")   # concatenation/joining
print(str*3)  #welcomewelcomewelcome

welcomeprogramming
welcomewelcomewelcome

***Example4 : slicing  []***
1. startign index 0
2. ending index 1

In [118]:
str="welcome"
print(str[1:3])  #el
print(str[:6])  #welcom here starting index is 0 by default
print(str[2:])   #lcome

el
welcom
lcome

In [120]:
print(str[1:-1])  #elcom last 1 char removed
print(str[1:-2])  #elco last 2 chars removed

elcom
elco

In [121]:
#Example5 : ord() and chr()
print(ord('A'))  #65 # returns the ASCII code of the character.
print(chr(65))  #A  #returns character represented by a ASCII number.

65
A

In [122]:
#Example6:   max()  min() len()

print(max("abc"))   #c
print(min("abc"))   #a
print(len("welcome"))   #7

c
a
7

In [124]:
#Example 7: in ,  not in operators  - returns true/false
s="welcome"
print("come" in s)  #True
print("lome" in s)  #False

print("come" not in s)  #False
print("lome" not in s)  #True

True
False
False
True

In [125]:
#Example8: String comparison
print("tim" == "tie") #False( if both are equal then true)
print("free" != "freedom") #True
print ("arrow" > "aron") #True (it checks serial wise alphabetical order), 3rd r > o
print ("right" >= "left") #True
print ("teeth" < "tee") #False
print ("yellow" <= "fellow") #False
print ("abc" > "") #True

False
True
True
True
False
False
True

In [126]:
# Example9 : Testing strings  True/False
s = "welcome to python"
print(s.isalnum()) #False(check if variable has numbers or not)
print("Welcome".isalpha()) #True (check if variable has alphabet or not)
print("2012".isdigit()) #True
print("first Number".isidentifier())#False
print(s.islower()) #True
print("WELCOME".isupper()) #True
print(" ".isspace()) #True

False
True
True
False
True
True
True

In [128]:
#Example10 : Searching for Substrings
s = "welcome to python"
print(s.endswith("thon")) #True

print(s.startswith("good")) #False

print(s.find("come")) #3 ( Will return position)
print(s.find("become")) #-1  if output is -1 then the string is not found in the variable

print(s.count("t")) #2   #Returns number of occurrences of substring the string

True
False
3
-1
2

In [131]:
#Example11: Converting String
s = "String in PYTHON"
s1 = s.capitalize()
print(s1) #String in python

s2 = s.title()
print(s2)#String In Python

s3 = s.lower()
print(s3) #string in python

s4 = s.upper()
print(s4) #STRING IN PYTHON

s5 = s.swapcase()
print(s5) #sTRING IN python

s6 = s.replace("in", "on")
print(s6) #String on PYTHON

String in python
String In Python
string in python
STRING IN PYTHON
sTRING IN python
Strong on PYTHON

In [133]:
#Example12: Reverse a string
# Method1
s="welcome"
rev_str=""
for i in s:
    rev_str=i+rev_str  # emoclew
print("reversed string is:",rev_str) #emoclew

reversed string is: emoclew

In [135]:
#Method2
s="welcome"
rev_str=s[::-1]   # s[0:7:-1] s[start:end:-1 ] will start from end
print(rev_str)  #emoclew

emoclew

# Day 4

Day4- Python Programming
---------------------------
Collections
-------
a=10
s="welcome"
d=10.5

List
Tuple
Set
Dictionary

List
-------
A list is a collection which is ordered and changeable. 
In Python lists are written with square brackets [ ].
List is mutable.

Tuple
------
A tuple is a collection which is ordered and unchangeable. 
In Python tuples are written with round brackets. ()
Tuple is Immutable.

if it is Immutable below things are not possible....

1) we cannot modify existign value
2) we cannot append new value
3) we cannot insert a new value
4) we cannot remove a value


mutable  - can change
immutable -- we cannot change

# Data Containers (Refer book shared by Jaydeep sir) 
* List
* Tuples
* Set
* Dictionary

#### List

In [136]:
#Example1  : how to create list

# mylist1=[10,20,30,40,50]
# mylist2=["apple","banana","cherry"]
# mylist3=["apple",10,"banana",20]
# mylist=list()  # empty list
#
# print(mylist1)
# print(mylist2)
# print(mylist3)
# print(mylist)

#Example2 : Accessing items from the list
# mylist=["apple","banana","cherry"]     # idex starts from 0
#
# print(mylist[0])
# print(mylist[2])
# print(mylist[-1])
# print(mylist[-2])

#Example3: Range of indexes
# mylist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# print(mylist[2:5])  #['cherry', 'orange', 'kiwi']
# print(mylist[-4:-1]) #['orange', 'kiwi', 'melon']

#Example4: change item value
# mylist=["apple", "banana", "cherry"]
# print(mylist) #['apple', 'banana', 'cherry']
# mylist[0]="orange"  # this will change the values based on index
# print(mylist)  ['orange', 'banana', 'cherry']

#Example5: read the list items using loop
# mylist=["apple", "banana", "cherry"]
# for i in mylist:
#     print(i)

#Examplr6: check if the item is exist in the list or not
# mylist=["apple", "banana", "cherry"]
#
# if "apple" in mylist:
#     print("yes. apple is present")
# else:
#     print("No, apple is not present")


#Example7:List Length (counting number of items in a list)
# mylist=["apple", "banana", "cherry"]
# print(len(mylist))  #3


#Example8: Add items  append()  insert()
# mylist=["apple", "banana", "cherry"]
# #mylist.append("orange") # adding new item at the end of the list
# mylist.insert(1,"orange")  # add item some where in the middle of the list based on the index
# print(mylist)

#Example9: remove item from the list
#pop()
# mylist=["apple", "banana", "cherry"]
# mylist.pop(0) # here we should specify index not the value
# print(mylist) #['banana', 'cherry']

#del
# mylist=["apple", "banana", "cherry"]
# del mylist[2]      #here del command removes single item based on the index
# print(mylist) #['apple', 'banana']

#clear()
# mylist=["apple", "banana", "cherry"]
# mylist.clear()
# print(mylist) #[]

#Example10 : copy list
#list()
# mylist1=["apple", "banana", "cherry"]
# mylist2=list(mylist1)
# print(mylist1)  #['apple', 'banana', 'cherry']
# print(mylist2)  #['apple', 'banana', 'cherry']

#copy()
mylist1=["apple", "banana", "cherry"]
mylist2=mylist1.copy()
print(mylist1)  #['apple', 'banana', 'cherry']
print(mylist2)  #['apple', 'banana', 'cherry']

#Example11: combine/join lists
# using + operator
# list1=["a","b","c"]
# list2=[1,2,3]
# list3=list1+list2
# print(list3) #['a', 'b', 'c', 1, 2, 3]

#using loop statement
# list1=["a","b","c"]
# list2=[1,2,3]
#
# for i in list2:
#     list1.append(i)
# print(list1) #['a', 'b', 'c', 1, 2, 3]

#using extend()
# list1=["a","b","c"]
# list2=[1,2,3]
# list1.extend(list2)
# print(list1) #['a', 'b', 'c', 1, 2, 3]


#  lists comparison
mylist1=[10,20,30]
mylist2=[10,20,30]

if mylist1==mylist2:
    print("lists are equal")
else:
    print("lists are not eqaul")

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
lists are equal

## Tuple
#### Properties
* Mutable
* use round bracket()

In [ ]:
#Example1: creating tuple
# mytuple=("apple","banana","cherry")
# print(mytuple)
#mytuple=()  # emty tuple

#Example2: access tuple items
# mytuple=("apple","banana","cherry")
# print(mytuple[1]) #banana   here index starts from 0
# print(mytuple[-1])  #cherry

#Example3: range of indexes
# mytuple=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
# print(mytuple[2:5]) #('cherry', 'orange', 'kiwi')
# print(mytuple[-4:-1]) # ('orange', 'kiwi', 'melon')

#Example 4: Changing tuple items
# by default tuple does not allow you chnage values bcoz it is immutable
#but there is work around
#tuple--> list(modify)--> tuple
#
# #mytuple=("apple", "banana", "cherry")
# mytuple=("apple", 100, 200)
# mylist=list(mytuple)
# mylist[0]="orange"
# mytuple=tuple(mylist)
# print(mytuple) #('orange', 'banana', 'cherry')

#Example5: reading tuple items using loop
# mytuple=("apple", "banana", "cherry")
# for i in mytuple:
#     print(i)

#Example6: Check if Item Exists( searching of item in tuple)
# mytuple=("apple", "banana", "cherry")
# if "banana" in mytuple:
#     print("yes, banana is present")
# else:
#     print("no, banana is not present")

#Example7: Tuple Length - counting items in a tuple
# mytuple=("apple", "banana", "cherry")
# print(len(mytuple)) #3

#Example8: Add items to tuple - not possible bcoz tuple is immutable - cannot change values/items
# mytuple=("apple", "banana", "cherry")
# mytuple[0]="orange" #TypeError: 'tuple' object does not support item assignment
# print(mytuple)

#Example9:  copy tuple
# mytuple1 = ("apple", "banana", "cherry")
# mytuple2=mytuple1
# print(mytuple2) #('apple', 'banana', 'cherry')

#Example10 : removing items from tuple - not possible bcoz tuple is immutable
#mytuple=("apple", "banana", "cherry")
#mytuple.remove("apple")  # invalid  / it is not possible
# del mytuple
# print(mytuple) #NameError: name 'mytuple' is not defined

#Example11: Join/combine tuple
# tuple1=(10,20,30)
# tuple2=('a','b','c')
#
# tuple3=tuple1+tuple2
# print(tuple3) #(10, 20, 30, 'a', 'b', 'c')


#Example12:  tuples comparison
tuple1=(10,20,30)
#tuple2=('a','b','c')
tuple2=(10,20,30)

if tuple1==tuple2:
    print("tuples are equal")
else:
    print("tuples are not eqaul")

Day5- Python Programming
------------------------
list [ ]  - mutable
tuple () - immutable
set   - mutable
dictionary  - mutable


set: A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
{ }
set is mutable.

dictionary: 
----
A dictionary is a collection which is unordered, changeable(mutable) and indexed. 
In Python dictionaries are written with curly brackets, and they have keys and values.

key	value
product1 : 100
prouct2: 200
product3: 500

key	name
123456   x  
546789   y   
2454646  z  


{}

List		Tuple		Set	Dictionary
Mutable		Immutable	Mutable	Mutable
Ordered		Ordered	unordered	unordered
Indexed		Indexed	unindexed	unindexed

# Set

In [ ]:
#Example1 : creating set
# myset={"apple","banana","cherry"}
# print(myset) #{'banana', 'cherry', 'apple'}

#Example2: Accessing items from set
# myset={"apple","banana","cherry"}
# for i in myset:
#     print(i)

#Example3: value exists in set or not
# myset={"apple","banana","cherry"}
# print("banana" in myset)  # true
# print("banana2" in myset)  # false

#Example4: adding items to set
# add()-add single item    update()-add multiple items
# myset={"apple","banana","cherry"}
# #myset.add("orange")
# myset.update(["mango","grapes"])
# print(myset) #{'orange', 'banana', 'apple', 'cherry'}
#                 #{'apple', 'banana', 'mango', 'grapes', 'cherry'}

#Example5: find number of items in a set - len()
# myset={"apple","banana","cherry"}
# print(len(myset)) #3


#Example6: remove item from set - remove() discard()
#myset={"apple","banana","cherry"}
# myset.remove("banana")
# print(myset) # {'cherry', 'apple'}
# myset.remove("xyz")  # KeyError: 'xyz'

# myset.discard("banana")
# print(myset) #{'apple', 'cherry'}
# myset.discard("xyz")   # will not throw any error

#Example7 : clear all items from set
# myset={"apple","banana","cherry"}
# myset.clear()
# print(myset)  #set()
#
# del myset
# print(myset) #NameError: name 'myset' is not defined

#Example8: joining 2 sets  - union()
# set1={"a","b","c"}
# set2={1,2,3}
# set3=set1.union(set2)
# print(set3)  #{1, 2, 'b', 3, 'c', 'a'}

#update()
set1={"a","b","c"}
set2={1,2,3}
set1.update(set2)
print(set1) # {'b', 1, 2, 3, 'c', 'a'}

## Dictionary

In [ ]:
#Example1: creating dictionary
# mydic={101:"x",102:"y",103:"z"}
# print(mydic) #{101: 'x', 102: 'y', 103: 'z'}

# Example2: access items from dictionary
# mydic={
#     "brand": "Hyudai",
#     "model": "i10",
#     "year": 2021
# }
# print(mydic["brand"])  # Hyudai
# print(mydic["model"]) #i10
# # using get()
# print(mydic.get("brand")) #Hyudai

#Example3: change values in dictionary
# mydic={
#     "brand": "Hyudai",
#     "model": "i10",
#     "year": 2020
# }
# print(mydic) # {'brand': 'Hyudai', 'model': 'i10', 'year': 2020}
# mydic["year"]=2021    # new value
# print(mydic) #{'brand': 'Hyudai', 'model': 'i10', 'year': 2021}

#Example4: reading items from dictionary using loop
# mydic={
#     "brand": "Hyudai",
#     "model": "i10",
#     "year": 2020
# }
#
# for i in mydic:
#     print(i)   # prints only keys from dictionary
#
# for i in mydic:
#     print(mydic[i])    # prints only values from dictionary

# for i in mydic.values():
#     print(i)  # prints only values from dictionary

# for x,y in mydic.items():
#     print(x,y)    # print keys along with the value

#Example5: check key is exist in dictionary or not
# mydic={
#     "brand": "Hyudai",
#     "model": "i10",
#     "year": 2020
#  }
#
# if "model1" in mydic:
#     print("exist")
# else:
#     print("not exist")

# print("model" in mydic)  # True

#Example6: find number of items in dictionary
# mydic={
#     "brand": "Hyudai",
#     "model": "i10",
#     "year": 2020
#  }
# print(len(mydic))  #3

#Example7: Adding items to dictionary
# mydic={
#     "brand": "Hyudai",
#     "model": "i10",
#     "year": 2020
#  }
# mydic["color"]="red"
# print(mydic) #{'brand': 'Hyudai', 'model': 'i10', 'year': 2020, 'color': 'red'}

#Example8: Remove item from dictionary
# mydic={
#     "brand": "Hyudai",
#     "model": "i10",
#     "year": 2020
#  }
# mydic.pop("year")
# print(mydic) # {'brand': 'Hyudai', 'model': 'i10'}

# del mydic["year"]
# print(mydic) #{'brand': 'Hyudai', 'model': 'i10'}

# del mydic
# print(mydic) #NameError: name 'mydic' is not defined

# mydic.clear()
# print(mydic)   # {}

# Example9: copying dictionary
mydic1={
    "brand": "Hyudai",
    "model": "i10",
    "year": 2020
 }

# using copy()
mydic2=mydic1.copy()
print(mydic2) # {'brand': 'Hyudai', 'model': 'i10', 'year': 2020}

# without using copy()
# mydic2=mydic1
# print(mydic2) #{'brand': 'Hyudai', 'model': 'i10', 'year': 2020}

Day6- Python Programming
-----------------------
Functions
-------------

Function means set of statements which will perform a task.

1) function declration/creation
2) calling the function/ invoking funtion


***def ---> creat function***

***functionname()  --> functiona call***

1. function does not take arguments not returns any value(None)
2. function does not take arguments but returns some value
3. function takes arguments but no return value
4. function takes arguments and also return value

Global & Local variables
--------------------------
The variables create outside of function are called as Global variables.
The variables create inside of the functions called as Local variables. 


2 types of arguments/parameters we can pass to the function

1) Positional arguments
2) Keyword arguments

* to crate a function -- keyworkd DEF
* To call / invoke we neet to print the name of defined function
* funtion can take some arguments or parameter

In [138]:
# Example 1
def my_func():
    print("Hi Sohan, do you know what is truth")

In [140]:
# Calling a Function
my_func()

Hi Sohan, do you know what is truth

In [144]:
# Example 2
def cal(a,b):
    return(a+b)

In [142]:
cal(7,8)

15

In [143]:
sum = cal(7,8)
print(sum)

15

In [154]:
#Example3:

def func():
    return

In [156]:
print(func())

None

In [159]:
# Fuction without return
def func():
    i=10

print(func())  #None

None

In [167]:
#Example5:
def cal(a,b):
    print(a+b)

cal(10,20)  #30

30

In [168]:
def cal(a,b):
    return(a+b)

cal(10,20)  #30

30

### Global  and Local Variable

In [174]:
#Example1
global_var=20   # global variable

def func():
    local_var=10  # local variable
    print(local_var)
    print(global_var)

func()  


# print(local_var)  # invalid bcoz local_var is local varaible of func()
print(global_var)  # valid bcoz global_var is global variable

10
20
20

In [177]:
#Example2:
xy=100  # global variable

def cool():
    xy=200   # Local variable
    print(xy)

cool()  #200 (function will print local variable if both global and local variable have save name)

200

In [179]:
# Example3: Using Global variable in Local variable and update value
xy=100  # global variable

def cool():
    #global xy=200  # invalid syntax
    global xy # (using this we are using local variable as global variable)
    xy=200   # global variable
    print(xy)

cool()  #200
print(xy)

200
200

In [181]:
#Example4: 
x=100 # (Initial global variable)

def cool():
    global x # Here we are changing value of x to 500
    x=500
    print(x)

cool()   # 500
# print(x)  
#100  without calling the function we will get 100 but once we will call the function then value of x
# will changes as we are changing the value of global variable

500
500

In [ ]:
#Example5:
#There is no need to declare global variables outside the function.
#You can declare them global inside the function. - global

def cool():
    global x
    x=100
    print(x)

cool()
print(x)  # able to access x bcoz it is global variable

*** We can also create Global Variable using Global keyword inside the funtion***

# Types of Arguments

In [194]:
#Example1:

def func(i,j):
    print(i,j)
#
# func(10,20)   # Positional arguments( first argument first value, second argument second value) 


func(j=20,i=230) # Keyword arguments (you can give values to argumnets as per you requirement and dont deoend on posiion could be jumbled)

230 20

In [196]:
#Example2:defulat values assigned to positional arguments
def func(i,j=10):
    print(i,j)

func(100,200)  #100 200 (these are positional arguments ) 
# func(100)  #100 10 (we have to pass atleast value for i ,
# but if  we will not give any value to j then function will take default value deifned while writing the function) )

100 200

In [197]:
#Example2:defulat values assigned to positional arguments
def func(i,j=10):
    print(i,j)

func()

TypeError: func() missing 1 required positional argument: 'i'

In the above case we are not pssing any arguments while calling the function, though we have to pass atleast one arguments i.e i

In [198]:
#Example2a:defulat values assigned to positional arguments
def func(i=5,j=10):
    print(i,j)

func()

5 10

In this case our function will work fine even if we don't pass any arguments becasue function will consider default values of arguments passed while writing the function

In [ ]:
#Example3: keyword arguments
# def greetings(name,greetmsg):
#     print(greetmsg+"   "+name)
#
# greetings(name='John', greetmsg="Hello")  # Hello   John
# greetings(greetmsg="Hello",name='John') #Hello   John

In [199]:
#Example4:
def my_func(a,b,c):
    print(a,b,c)

my_func(10,20,30) # positional arguments
my_func(a=10,b=20,c=30) # Keyword arguments
my_func(b=20,a=10,c=30) # Keyword arguments

10 20 30
10 20 30
10 20 30

In [210]:
#Example4:
def my_func(a,b,c):
    print(a,b,c)
my_func(10,20,c=30)  #10 20 30
my_func(10,b=20,c=30) #10 20 30
# my_func(10,b=20,30) #this is wrong as positional argument must appear before any keyword argument
# my_func(10,30,b=20)  # this is having logical error

10 20 30
10 20 30

In [216]:
#Example5:Function can return multiple values

def largest(a,b):
    if a>b:
        return a,b
    else:
        return b,a

print(largest(100,200)) #(200, 100)
print(largest(20,10))  #(20, 10)

# res=largest(10,20)
# print(res)

print(type(res))   # tuple

(200, 100)
(20, 10)
<class 'tuple'>